/*COLOR PALETTE
dark blue - #0E3B43
myrtle green - #357266
blueishgrey -#A3BBAD
brown - #65532F
dark brown - #312509
*/

/*GENERAL*/
* {
font-family: 'Open Sans', sans-serif;
font-weight: 300;
}

body{
    color: white;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background-color: rgb(208, 208, 208); 
}

h2 {
    font-size: 10px;
    font-weight: 400;
    color: white;
    fill: currentColor;
    margin: 0;
    transition: all ease .3s;
}

.icon {
    font-size: 40px;
    margin-bottom: 10px;
    transition: all ease .3s;
 }
 
 button {
     background: none;
     color: white;
     border: 2px solid white;
     padding: 7px 14px;
     margin-right: 10px;
     transition: all ease .3s;
 }
 
 .icon-button {
     margin: 0 3px;
     font-size: .8em;
 }

/*GRID*/

.container{
    display: grid;
    margin: 10px 10px;
    width: 97%;
    height: 62vw;
    grid-template-columns: 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "header header profile photo"
        "experience education blog photo"
        "social contact sic-beats photo";
}

.grid-item {
    padding: 25px;
    background-size: cover;
    display: grid;
}

.item-container {
    margin: auto;
    text-align: center;
}

#header-container {
    text-align: left;
}

.main {
    grid-area: header;
    background: #357266;
}

.profile {
    grid-area: profile;
    background: #65532F;
}

.experience {
    grid-area: experience;
    background-color: #0E3B43
}

.education {
    grid-area: education;
    background-color:#A3BBAD;
}

.blog {
    grid-area: blog;
    background-color: #357266;
}

.social {
    grid-area: social;
    background-color: #312509
}

.contact {
    grid-area: contact;
    background-color: #0E3B43
}

.sic-beats {
    grid-area: sic-beats;
    background-color: #312509
}

.photo {
    grid-area: photo;
    position: relative;
    display: grid;
}

/*PHOTO SCROLLER*/

.slider{
    display: flex;
    overflow-x: auto;
}

.slide {
    width: 100%;
    flex-shrink: 0;
    height: 100%;
}

#slide-1 {
    background-image: url("images/carter1.jpg");
    background-size: cover;
}

#slide-2 {
    background-image: url("images/carter2.jpeg");
    background-size: cover;
}

#slide-3 {
    background-image: url("images/carter3.jpg");
    background-size: cover;
}

.slider-buttons {
    position: absolute;
    top: 1px;
    right: 8px;
}

.slider-buttons div {
    display: inline-block;
    height: 7px;
    width: 7px;
    background-color: white;
    opacity: .6;
    border-radius: 50%;
}

.slider-buttons div:clicked{
    opacity: 1;
}

.arrow-right,
.arrow-left {
    position: absolute;
    top: 47%;
    background-color: rgb(65, 65, 65);
    color: lightgrey;
    opacity: .7;
    border: 2px solid lightgray;
    padding: 12px;
    border-radius: 50%;
    transition: all ease .3s;
}

.arrow-left {
    left: 2%;
}

.arrow-right {
    right: 2%;
}



/*HOVER EFFECTS*/

button:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.item-container:hover .icon{
   transform: scale(1.1);
   cursor: pointer;
}

.item-container:hover h2 {
    transform: scale(1.1);
    cursor: pointer;
}

.arrow-right:hover,
.arrow-left:hover {
  background-color: lightgray;  
  color: rgb(65, 65, 65);
  border-color: rgb(65, 65, 65);
  transform: scale(1.2);
  cursor: pointer;
}
